*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.bg-purple{
background-color:#1A0B2E ;
}
.display-flex{
  display:flex;
}
main,header{
  max-width:1200px ;
  margin:0 auto;
}
.purple-text{

background:linear-gradient(#67255dad) ;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header{
   
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top:1.9rem;
  background-color: #1A0B2E;
}
.logo{
  font-size: 3rem;
  color:#fff;
  border: 1px;
}
.menu .list-item{
  list-style: none;
}
.nav-link{
 color:#fff;
  font-size: 1rem;
  font-weight: 600;
margin-right:2rem;
  text-decoration: none;
}
.btn-primary{
  padding:14px 16px;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.5rem;
}
.banner{
  width:100%;

  padding-top: 6.3rem;
 background-image: url(../images/hero-bg.png);
 background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.about{
  padding-top: 3rem;
  text-align: center;
  
}
.about h1{
font-size: 3rem;
font-weight: 900;
color: #fff;
margin-bottom: 1rem;
}
.about p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color:#fff;
  margin-bottom: 5rem;
}
.about-hr{
  color: rgba(255, 255, 255, 1);
}