*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.bg-purple{
background-color:#1A0B2E ;
}
.display-flex{
  display:flex;
}
.navbar{
  max-width:1200px ;
  margin:0 auto;
}
.purple-text{

background:-webkit-linear-gradient(to right#F7E93F,#FB09B4),#9100F8 ;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-text{
  color:  rgba(0, 255, 136, 1);
}
.header{
   
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top:1.9rem;
  background-color: #1A0B2E;
}
.logo{
  font-size: 3rem;
  color:#fff;
  border: 1px;
}
.menu .list-item{
  list-style: none;
}
.nav-link{
 color:#fff;
  font-size: 1rem;
  font-weight: 600;
margin-right:2rem;
  text-decoration: none;
  opacity: 0.6;
}
.btn-primary{
  padding:14px 16px;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.5rem;
  border:none;
}
.banner{
  width:100%;

  padding-top: 6.3rem;
 background-image: url(../images/hero-bg.png);
 background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.circle{
  position: relative;
}
.img2{
  top:-250px;
  z-index: 3;
}
.about{
  padding-top: 3rem;
  text-align: center;
  background: rgba(26, 11, 46, 1);
}
.about h1{
font-size: 3rem;
font-weight: 900;
color: #fff;
margin-bottom: 1rem;
}
.about p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color:#fff;
  opacity: 0.6;
  margin-bottom: 5rem;
}
.about-hr{
  color: rgba(255, 255, 255, 1);
}
.about-container{
  max-width: 1200px;
  margin: 0 auto;
justify-content: space-between;
align-items: center;
padding-top: 5rem;

}
.about-container .about-card{
 
  text-align: center;
}
.about-container .about-card h2{
color:#00ff88;
font-size: 3rem;
font-weight: 900;
margin-bottom: 1rem;
}
.about-container .about-card p{
  color:#fff;
font-size: 1rem;
font-weight: 500;
line-height: 1 rem;

}
#why-tech{
  background: rgba(35, 14, 61, 1);
  /* margin: 120px 0 ; */
  padding-bottom: 130px;
}
#why-tech h1{
  padding-top: 120px;
  color: #fff;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
margin-bottom:1.8rem;
text-align: center;

}
.grid-container{
  max-width: 1200px;
  margin:0 auto;
  display: grid;
  gap:1.8rem;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 273px 273px 273px;
}
.grid-card{
 border-radius: 2.5rem;
 padding:2.5rem;
background: rgba(53, 17, 101, 0.4);
align-items: center;


gap: 16;
}
.grid-card h4{
  margin:1rem 0;
  color: #fff;


font-style: Bold;
font-size: 1.5rem;
font-weight: 700;
line-height: 1.7rem;

}
.grid-card p{
  color: #fff;
  opacity: 0.6;

font-family: Inter;
font-style: Regular;
font-size: 1rem;
font-weight: 400;
line-height: 1.7rem;

}
/* .grid-card img{
  width:60px;
  height: 60px;
} */

.big-layout{
  grid-column: span 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.normal-layout{
  grid-column: span 2;
  grid-row: span 1; 
}
.wide-layout{
   grid-column: span 2;
  grid-row: span 1;
}
.small-layout{
     grid-column: span 1;
  grid-row: span 1;
}
#feature,#host{
padding-top:130px ;
  background-color: #1A0B2E;
}
#feature  .heading-text{
 color:#fff;

margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;

}

#feature .feature-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
 
}
 .feature-card{
  border-radius:40px;
   background-color: #250D44;
}

.feature-content{
  margin-top: 0;
  padding:1.5rem;
  background-color: #250D44;
}

.feature-content h4{
color:#fff;
margin-bottom: 12px;
font-style: Bold;
font-size: 1.6rem;
font-weight: 700;
line-height: 29px;

}
.feature-content p{
color:#fff;
opacity: 0.6;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
margin-bottom: 12px;
}
.time{
  display: flex;
  align-items: center;
  gap:8px;
}
#host .heading-text{
   color:#fff;
margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;
}
.host-container{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
 
 
  background-color:  #250D44;
  padding: 2.8rem;
 gap:1.5rem;

}
.host-content h2{
color: #fff;
margin-bottom:1rem;
font-style: Bold;
font-size: 2rem;
font-weight: 700;
line-height:2.3rem;
}
.host-content p{
color:#fff;
opacity: 0.6;
font-family: Inter;
font-style: Regular;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
margin-bottom: 1rem;
}
.social-icons{
display: flex;
gap:8px;
 height:40px;  
 width:40px;  
}
.icon-img{
/* width:40px;
height:40px; */
/* padding:12px; */
border: 1px solid rgba(83, 60, 114, 1);
 border-radius: 50%;
}