*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.bg-purple{
background-color:#1A0B2E ;
}
.display-flex{
  display:flex;
}
#menu-icon{
  display: none;
}
.navbar{
  max-width:1200px ;
  margin:0 auto;
}
.purple-text{

background:-webkit-linear-gradient(to right#F7E93F,#FB09B4),#9100F8 ;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-text{
  color:  rgba(0, 255, 136, 1);
}
.header{
   
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top:1.9rem;
  background-color: #1A0B2E;
}
.logo{
  font-size: 3rem;
  color:#fff;
  border: 1px;
}
.menu .list-item{
  list-style: none;
}
.nav-link{
 color:#fff;
  font-size: 1rem;
  font-weight: 600;
margin-right:2rem;
  text-decoration: none;
  opacity: 0.6;
}
.btn-primary{
  padding:14px 16px;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.5rem;
  
  border:none;
}
.banner{
  width:100%;

  padding-top: 6.3rem;
 background-image: url(../images/hero-bg.png);
 background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.banner h2{
  color: rgba(255, 255, 255, 1);


font-weight: 900;
font-size: 60px;

line-height: 73px;

text-align: center;

}
.tech-content{
  margin-top:-115px;
}
.tech-content p{
  color: rgba(255, 255, 255, 1);

font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
opacity:0.8;
margin-top: 8px;
margin-bottom: 1.5rem;
}

.spotify-img{
margin-top: 5px;
}
.btn-secondary{
  color: #fff;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
padding:13px 20px;
border:none;
text-align: center;

border-radius:40px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
}
.btn-subscribe{
padding:13px 20px;
border: 2px solid #00ff88;
color:#00FF88;
background: transparent;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
border-radius: 40px;
margin-right: 8px;
}
.circle{
  position: relative;
}
.new-badge {
  /* position: absolute; */
  top: 60px;
  z-index: 1;
  right: -100px;
  border:none;
  background:
#00FF88;
  color: #000;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 1.2rem;

line-height: 22px;
}
.img2{
  top:-250px;
  z-index: 3;
}
.about{
  padding-top: 3rem;
  text-align: center;
  background: rgba(26, 11, 46, 1);
}
.about h1{
font-size: 3rem;
font-weight: 900;
color: #fff;
margin-bottom: 1rem;
}
.about p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color:#fff;
  opacity: 0.6;
  margin-bottom: 5rem;
}
.about-hr{
  color: rgba(255, 255, 255, 1);
}
.about-container{
  max-width: 1200px;
  margin: 0 auto;
justify-content: space-between;
align-items: center;
padding-top: 5rem;

}
.about-container .about-card{
 
  text-align: center;
}
.about-container .about-card h2{
color:#00ff88;
font-size: 3rem;
font-weight: 900;
margin-bottom: 1rem;
}
.about-container .about-card p{
  color:#fff;
font-size: 1rem;
font-weight: 500;
line-height: 1 rem;

}
#why-tech{
  background: rgba(35, 14, 61, 1);
  /* margin: 120px 0 ; */
  padding-bottom: 130px;
}
#why-tech h1{
  padding-top: 120px;
  color: #fff;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
margin-bottom:1.8rem;
text-align: center;

}
.grid-container{
  max-width: 1200px;
  margin:0 auto;
  display: grid;
  gap:1.8rem;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 273px 273px 273px;
}
.grid-card{
 border-radius: 2.5rem;
 padding:2.5rem;
background: rgba(53, 17, 101, 0.4);
align-items: center;


gap: 16;
}
.grid-card h4{
  margin:1rem 0;
  color: #fff;


font-style: Bold;
font-size: 1.5rem;
font-weight: 700;
line-height: 1.7rem;

}
.grid-card p{
  color: #fff;
  opacity: 0.6;

font-family: Inter;
font-style: Regular;
font-size: 1rem;
font-weight: 400;
line-height: 1.7rem;

}
/* .grid-card img{
  width:60px;
  height: 60px;
} */

.big-layout{
  grid-column: span 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.normal-layout{
  grid-column: span 2;
  grid-row: span 1; 
}
.wide-layout{
   grid-column: span 2;
  grid-row: span 1;
}
.small-layout{
     grid-column: span 1;
  grid-row: span 1;
}
#feature,#host{
padding-top:130px ;
  background-color: #1A0B2E;
}
#feature  .heading-text{
 color:#fff;

margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;

}

#feature .feature-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;

  align-items: center;
  gap: 30px;
 
}
 .feature-container .feature-card{
  border-radius: 2.5rem;
   background-color: #250D44;
   overflow: hidden;
   width:380px;
   height: 445px;
}

.feature-content{
  margin-top: 0;
  padding:1.5rem;
  background-color: #250D44;
}

.feature-content h4{
color:#fff;
margin-bottom: 12px;
font-style: Bold;
font-size: 1.6rem;
font-weight: 700;
line-height: 29px;

}
.feature-content p{
color:#fff;
opacity: 0.6;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
margin-bottom: 12px;
}
.feature-card .video-wrapper{
width: 100%;
  /* height: 200px; */
  overflow: hidden; 
}
.time{
  display: flex;
  align-items: center;
  gap:8px;
}
#host .heading-text{
   color:#fff;
margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;
}
#host{
  padding-bottom: 120px;
}
.host-container{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
 
 border-radius: 40px;
  background-color:  #250D44;
  padding: 2.8rem;
 gap:1.5rem;

}

.host-content h2{
color: #fff;
margin-bottom:1rem;
font-style: Bold;
font-size: 2rem;
font-weight: 700;
line-height:2.3rem;
}
.host-content p{
color:#fff;
opacity: 0.6;
font-family: Inter;
font-style: Regular;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
margin-bottom: 1rem;
}
.social-icons{
display: flex;
gap:8px;
  
}
.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
border: 1px solid rgba(83, 60, 114, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #2c004f, #12002b);
  /* box-shadow: 0 0 10px rgba(255,0,255,0.3);
  transition: 0.3s; */
}
#footer{
  padding: 120px 0;
  text-align: center;
  background-image: url(../images/footer-bg.png);
    background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  background-color:  #250D44;

}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;
}

#footer .social-links{
  margin-top:2rem;
  display: flex;
  justify-content: center;
  gap:35px;

}
.icon-card{
  /* display: inline-block; */
 /* margin-right:10px; */
}
.icon-card i{
  background: transparent;
  color:#fff;
  width:1.5rem;
}
.footer-text{
  color:#fff;
  opacity:0.6;

margin-left:8px ;

font-size: 16px;
font-weight: 500;
line-height: 19px;

text-align: center;
}
#footer p{
  margin-top:2rem;
  color:#fff;
  opacity:0.6;
  font-size: 1rem;
font-weight: 400;
line-height: 24px;

}
@media screen and (max-width:576px){
.menu {
  display: none;
}
.btn-primary{
  display: none;
}
#menu-icon{
  display: flex;
  justify-content: space-between;
}
}
/* device specificly responsive design */
@media screen and (min-width:576px) and (max-width:992px){
  
}
