*{
  margin:0;
  padding:0;
  box-sizing: border-box;
   /* overflow-x:hidden; */
   
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.bg-purple{
background-color:#1A0B2E ;
}
.display-flex{
  display:flex;
}
#menu-icon{
  display: none;
  padding:20px;
}


.green-text{
  color:  rgba(0, 255, 136, 1);
}
.navbar{
  max-width:1200px ;
  margin:0 auto;
  justify-content: space-between;
  align-items: center;
  /* padding-top:2.2rem; */
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
  background-color: #1A0B2E;
  /* border-bottom: 2px solid rgba(65, 37, 103, 1); */
}


.logo{
  font-size: 3rem;
  color:#fff;
  border: 1px;
}
.menu .list-item{
  list-style: none;
}
.nav-link{
 color:#fff;
  font-size: 1rem;
  font-weight: 600;
margin-right:2rem;
  text-decoration: none;
  opacity: 0.6;
}
.btn-primary{
  padding:14px 16px;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.5rem;
    transition: 
    background-color 0.3s ease-in;
    
  border:none;
}
.banner{
  width:100%;
  border-top: 2px solid rgba(65, 37, 103, 1);


  padding-top: 6.3rem;
 background-image: url(../images/hero-bg.png);
 background-position: center;
 background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.banner h2{
  color: rgba(255, 255, 255, 1);
font-weight: 900;
font-size: 60px;

line-height: 73px;

text-align: center;

}
.tech-content{
  margin-top:-115px;
}
.tech-content p{
  color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
opacity:0.8;
margin-top: 8px;
margin-bottom: 1.5rem;
}

.spotify-img{
margin-top: 5px;
}
.btn-secondary{
  transition: 
    background-color 0.3s ease-in;
    
    

  color: #fff;
  background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
padding:13px 20px;
border:none;
text-align: center;
border-radius:40px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
}
.btn-subscribe{
  transition: 
   background-color 3s ease-in ;
  padding:13px 20px;
border: 2px solid #00ff88;
color:#00FF88;
background: transparent;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
border-radius: 40px;
margin-right: 8px;
}
.btn-subscribe:hover {
   background: linear-gradient(to right,#9100F8, #F7E93F,#FB09B4);
 
 transform:  rotate(45deg);
}
.btn-secondary:hover {
   background: linear-gradient(to right,#9100F8, #F7E93F,#FB09B4);
 
 transform:  rotate(45deg);
}
.btn-primary:hover {
   background: linear-gradient(to right,#9100F8, #F7E93F,#FB09B4);
 
 transform:  rotate(45deg);
}

.navbar, .about, #feature,#footer,#host,#why-tech{
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.circle{
  position: relative;
}
/* .circle-wrapper {
  position: relative;
 /* adjust for desktop */
 
.new-badge {
   white-space: nowrap;

  top: 60px;
  
  z-index: 1; 
   right: -100px;
  border:none;
  background:
#00FF88; 
 
  color: #000;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 25px;
  /* padding:0.5em 0.8em; */
  /* font-size:clamp(12px,2vw,18px) */
  font-size: 1.2rem;

line-height: 22px;
}
.img2{
  top:-270px;
  z-index: 3;
}
.about{
  padding-top: 3rem;
  text-align: center;
  background: rgba(26, 11, 46, 1);
}
.about h1{
font-size: 3rem;
font-weight: 900;
color: #fff;
margin-bottom: 1rem;
}
.about p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color:#fff;
  opacity: 0.6;
  margin-bottom: 5rem;
}

.about-rating{
border-top: 1px solid  rgba(255, 255, 255, 0.632);

}
.about-container{
  max-width: 1200px;
  margin: 0 auto;
display: grid;
grid-template-columns: repeat(4,1fr);
align-items: center;
padding-top: 5rem;


}
.about-container .about-card{
 
  text-align: center;
}
.about-container .about-card h2{
color:#00ff88;
font-size: 3rem;
font-weight: 900;
margin-bottom: 1rem;
}
.about-container .about-card p{
  color:#fff;
font-size: 1rem;
font-weight: 500;
line-height: 1 rem;

}
#why-tech{
  background: rgba(35, 14, 61, 1);
  /* margin: 120px 0 ; */
  padding-bottom: 130px;
}
#why-tech h1{
  padding-top: 120px;
  color: #fff;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;
margin-bottom:1.8rem;
text-align: center;

}
.grid-container{
  max-width: 1200px;
  margin:0 auto;
  display: grid;
  gap:1.8rem;
  overflow-y: hidden;
  overflow-y: hidden;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 273px 273px 273px;
}
.grid-card{
 border-radius: 2.5rem;
 padding:2.5rem;
background: rgba(53, 17, 101, 0.4);
align-items: center;
gap: 16;
}
.grid-card h4{
  margin:1rem 0;
  color: #fff;
font-style: Bold;
font-size: 1.5rem;
font-weight: 700;
line-height: 1.7rem;

}
.grid-card p{
  color: #fff;
  opacity: 0.6;
font-size: 1rem;
font-weight: 400;
line-height: 1.7rem;

}

.big-layout{
  grid-column: span 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.normal-layout{
  grid-column: span 2;
  grid-row: span 1; 
}
.wide-layout{
   grid-column: span 2;
  grid-row: span 1;
}
.small-layout{
     grid-column: span 1;
  grid-row: span 1;
}
#feature,#host{
padding-top:130px ;
  background-color: #1A0B2E;
}
#feature  .heading-text{
 color:#fff;

margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;

}
#feature{
  width:100%;
}
#feature .feature-container{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
justify-content: space-between;
align-items: center;
  gap: 30px;
 
}
 .feature-container .feature-card{
  border-radius: 2.5rem;
   background-color: #250D44;
   overflow: hidden;
   width:380px;
   height: 445px;
}

.feature-content{
  margin-top: 0;
  padding:1.5rem;
  background-color: #250D44;
}

.feature-content h4{
color:#fff;
margin-bottom: 12px;
font-style: Bold;
font-size: 1.6rem;
font-weight: 700;
line-height: 29px;

}
.feature-content p{
color:#fff;
opacity: 0.6;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
margin-bottom: 12px;
}
.feature-card .video-wrapper{
width: 100%;
  /* height: 200px; */
  overflow: hidden; 
}
.time{
  display: flex;
  align-items: center;
  gap:8px;
}
.host-img{
  width:200px;
  flex-shrink: 0;
  height:200px;
}
#host .heading-text{
   color:#fff;
margin-bottom: 1.8rem;
font-style: Bold;
font-size: 3rem;
font-weight: 700;
line-height: 58px;

text-align: center;
}
#host{
  padding-bottom: 120px;
}
.host-container{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 border-radius: 40px;
  background-color:  #250D44;
  padding: 2.8rem;
 gap:1.5rem;

}

.host-content h2{
color: #fff;
margin-bottom:1rem;
font-style: Bold;
font-size: 2rem;
font-weight: 700;
line-height:2.3rem;
}
.host-content p{
color:#fff;
opacity: 0.6;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
margin-bottom: 1rem;
}
.social-icons{
display: flex;
gap:8px;
  
}
.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
border: 1px solid rgba(83, 60, 114, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #2c004f, #12002b);
  
}
#footer{
  padding: 120px 0;
  text-align: center;
  background-image: url(../images/footer-bg.png);
    background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  background-color:  #250D44;

}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;
}

#footer .social-links{
  margin-top:2rem;
  display: flex;
  
  justify-content: center;
  
  gap:35px;

}

.icon-card i{
  background: transparent;
  color:#fff;
  width:1.5rem;
}
.footer-text{
  color:#fff;
  opacity:0.6;

margin-left:8px ;

font-size: 16px;
font-weight: 500;
line-height: 19px;

text-align: center;
}
#footer p{
  margin-top:2rem;
  color:#fff;
  opacity:0.6;
  font-size: 1rem;
font-weight: 400;
line-height: 24px;

}
@media screen and (max-width:576px){
  .navbar, .about, #feature,#footer,#host,#why-tech{
    padding-top: 60px;
    width:100%;
   
   
  }
    .banner{
  /* width:100%; */

 background-image: url(../images/hero-bg.png);
 background-position:  center;
 background-size: contain;
  
}
  .banner .circle{
    width:100%;
  }
  .navbar{
  margin-left:10px ;
  }
.nav-link {
  display: none;
}
.btn-primary{
  display: none;
}
#menu-icon{
  display: flex;
  justify-content: space-around;
  /* margin-left: 20px; */

}
.about h1{
font-size: 2rem;
font-weight: 900;
color: #fff;
margin-bottom: 1rem;
}
.about-container{
  grid-template-columns: repeat(2,1fr);

  gap:40px;
 
}

.grid-container{
  grid-template-columns: repeat(1,1fr);

overflow-x: hidden;
overflow-y:hidden ;
  gap: 40px;
}
.grid-card{
margin-left:20px;
}
.feature-container{
  flex-direction: column;
justify-content: center;

}
.feature-card{
  width:100%;
}


.host-container{
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}
.social-icons{
  justify-content: center;
  align-items: center; 
}
.host-content{
  text-align: center;
}
.new-badge{
  white-space: nowrap;
}
#footer{
    background-position: center;
 background-size: contain;
  

}

}
/* device specificly responsive design */
@media screen and (min-width:576px) and (max-width:992px){
  #footer{
    background-position: center;
 background-size: contain;
  

}
  .navbar, .about, #feature,#footer,#host,#why-tech{
    padding-top: 80px;
    width:100%;
   
   
  }
  .banner{
  /* width:100%; */

 
 background-position:  center;
 background-size: contain;
  
}
  
  .banner .circle{
    width:100%;
  }
  .navbar{
  margin-left:10px ;
  margin-right: 20px;
  flex-wrap: wrap;
  /* flex-direction: column; */
  }
/* .nav-link {
  display: none;
} */



  .grid-container{
  grid-template-columns: repeat(2,1fr);
overflow-x: hidden;
overflow-y:hidden ;

  gap: 40px;
}
.host-container{
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.social-icons{
  justify-content: center;
  align-items: center; 
}
.host-content{
  text-align: center;
}

.grid-container{
  grid-template-columns: repeat(1,1fr);


  gap: 40px;
}
.grid-card{
margin-left:20px;
}
.feature-container,.social-links{
 justify-content: center;
 align-items: center;
flex-wrap: wrap;
}
.feature-container{
  justify-content: center;
  align-items: center;
}
.icon-card{
  /* margin-top: 80px; */
  padding-top:20px;
}
}
@media (min-width: 992px) {
   .banner {
    background-size: cover;
    background-position: center;
  background-size: contain;
  }

#footer {
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
  } 
}
@media (min-width: 1200px){
   /* .banner {
    background-size: cover;
    background-position: center;
    
  }
   */
 
  #footer {
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
  }
  
}
